.container {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 28px;
}

body {
    margin-top: 150px !important;
    background-color: rgb(8, 8, 8);
    background-image: url(./background.jpg);
    background-size: cover; /* Ensure the background image covers the entire viewport */
}

/* .calculator {
    width: 320px;
    height: 350px;
    background-color: rgba(9, 9, 9, 0.8); /* Adjusted the background color with some transparency */
    /*box-shadow: 0px 0px 0px 10px #666;
    border: 5px solid rgb(185, 182, 182);
    border-radius: 10px;
    text-align: center;
    display: grid;
} */

#display {
    width: 370px;
    height: 30px;
    text-align: right;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(8, 8, 8);
    margin-top: 5px;
    margin-left: 2px;
    font-size: 18px;
    left: 2px;
    top: 2px;
    color: #060606;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(9, 9, 9);
    display: inline-block; /* Added display property */
    padding: 10px; /* Added padding for spacing */
    border: 2px solid rgb(8, 8, 8); /* Added border styling */
    border-radius: 5px; /* Added border radius for rounded corners */
    background-color:rgb(232, 235, 235);
    margin-top: 30px;
}


input {
    text-align: center;
    padding: 10px;
    display: grid;
}

.calculator .btn {
    color: rgb(16, 16, 16);
    background-color: #fdfbfa;
    font-size: 14px;
    margin: 5px;
    width: 65px;
    height: 45px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 450px;
    background-color: rgba(9, 9, 9, 0.8);
    box-shadow: 0px 0px 0px 10px #090909;
    border-radius: 3px;
    text-align: center;
    display: grid;
    margin-top: 15px;
}

/* New styles for smaller screens */
